<%= form_for @greeting do |form| %>
  <%= form.text_field :body %>
  <%= form.label :receiver_id, "to" %>
  <%= form.collection_select(
        :receiver_id,
        User.all,
        :id,
        :username,
        selected: current_user.most_recent_correspondent_id)
  %>
  <div>
    <%= form.submit "Send!" %>
    <span id="status"></span>
  </div>
<% end %>

<div id="greetings">
  <%= render @greetings %>
</div>
