<p>NO NEED TO REFRESH THIS PAGE! It loads new greetings <em>automatically</em>!</p>

<%= form_for @greeting do |form| %>
  <%= form.label :body, "Send" %>
  <%= form.text_field :body %>
  <%= form.label :receiver_id, "to" %>
  <%= form.collection_select(
        :receiver_id,
        User.except(current_user),
        :id,
        :username,
        selected: current_user.most_recent_correspondent_id)
  %>
  <%= form.submit "Greet!" %>
  <span id="status"></span>
<% end %>

<div id="greetings">
  <%= render @greetings %>
</div>
