<!DOCTYPE html>
<html>
<head>
  <title>Greetr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= render "javascript_global_variables" %>
  <% unless Rails.env.production? %>
    <%= render "pusher_logging" %>
  <% end %>
</head>
<body>

<% if signed_in? %>
  <div id="app-alerts"></div>
<% end %>


<header>
<% if signed_in? %>
  <h1 id="logo">greetr</h1>
  <div class="current-user">
    <%= current_user.identifier %>
    (<%= link_to "Sign out", :session, method: :delete %>?)
  </div>
<% else %>
  <h1 id="logo">greetr</h1>
<% end %>
</header>

<section id="container">
  <p class="instructions">Remember: new greetings will appear automatically.</p>
  <%= yield %>
</section>

</body>
</html>
