<!DOCTYPE html>
<html>
<head>
  <title>Greetr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= render "javascript_global_variables" %>
  <% unless Rails.env.production? %>
    <%= render "pusher_logging" %>
  <% end %>
</head>
<body>

<h1 id="logo">greetr</h1>

<% if signed_in? %>
  <p id="new_app_version_alert"></p>
  <p>
    Signed in as <%= current_user.identifier %>
    (<%= link_to "Sign out", :session, method: :delete %>?)
  </p>
<% end %>

<%= yield %>

</body>
</html>
